// Fonts and set colours and styles for the page

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Bitter&display=swap');

$font-body: Anek;
$background-color: #b50027;
$primary-color: rgb(224, 161, 43);
$secondary-color: #386b5d ;
$tertiary-color: rgb(238, 233, 233) ;
